[submodule "yolov7-segmentation"]
	path = yolov7-segmentation
	url = https://github.com/MEng-Team-Project/yolov7-segmentation
[submodule "yolov8_tracking"]
	path = yolov8_tracking
	url = https://github.com/MiscellaneousStuff/yolov8_tracking/
